@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');
*,
*::after,
*::before {
    margin: 0px;
}

h1 {
    font-size: 15px;
    font-family: Rubik;
}

.navbar {
    background-color: white;
    padding: 5px 0px;
    border-bottom: 1.5px solid orange;
}

.top {
    margin-left: 575px;
    color: rgb(255, 201, 101);
}

.odin {
    font-size: 25px;
    text-align: center;
    color: rgb(255, 139, 44)
}

.recipes {
    margin-left: 664px;
    color: rgb(255, 201, 101);
}

.recipe-container {
    width: 1050px;
    height: auto;
    margin: 60px auto;
    padding: 10px;
    border: solid black;
}

.recipe-container .grid {
    width: 900px;
    height: auto;
    margin: 0px auto;
    border: solid yellow;
}

.recipe-container .grid div {
    box-sizing: border-box;
    width: 275px;
    height: 220px;
    border: solid orange;
    display: inline-block;
}

/* This positioning code is a mess lmaooo */
/* this is done to separate the items with almost the same distance and centered inside the grid */
/* I'm aware there are better solutions, but idk how to implement them yet */

.item1 {
    margin-right: 33px;
}

.item3 {
    margin-left: 34px;
}

.lasagna, .chicken_noodle, .ranch_chicken_tacos {
    font-size: 25px;
    font-weight: 500;
}